[submodule "Source/Dependencies/glfw"]
	path = Source/Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/Dependencies/spdlog"]
	path = Source/Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Source/Dependencies/VulkanMemoryAllocator"]
	path = Source/Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Source/Dependencies/stb"]
	path = Source/Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/Dependencies/imgui"]
	path = Source/Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/Dependencies/entt"]
	path = Source/Dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "Source/Dependencies/yamlcpp"]
	path = Source/Dependencies/yamlcpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Source/Dependencies/glad"]
	path = Source/Dependencies/glad
	url = https://github.com/TheSpectreZ/glad.git
[submodule "Source/Dependencies/nlohmannJson"]
	path = Source/Dependencies/nlohmannJson
	url = https://github.com/nlohmann/json.git
[submodule "Source/Dependencies/openALsoft"]
	path = Source/Dependencies/openALsoft
	url = https://github.com/TheSpectreZ/openAL-Soft.git
