/.vs
/Binaries
/Intermediates

**/premake
**/__pycache__

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.sln

/.vs/Nexus-Engine
/Source/Tools/NxEditor/Sandbox/.vs/Sandbox

/Source/**/Logs
/Source/Tools/NxEditor/Resources/Scripts
/Source/Tools/NxEditor/Sandbox/Scripts/Bin
/Source/Tools/NxEditor/Sandbox/Scripts/Bin-Int
