/.vs
/Binaries
/Intermediates

**/premake
**/__pycache__

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user
*.sln

/Source/NexusEditor/Resources/Scripts
/Source/NexusEditor/SandboxProject/.vs/SandboxProject
/Source/NexusEditor/Sandbox/.vs/Sandbox
/Source/NexusEditor/Sandbox/Scripts/Bin/Debug
/Source/NexusEditor/Sandbox/Scripts/Bin-Int/Debug
